#top_left.quarter
  %iframe{ :src => "http://www.google.com/calendar/embed?src=dnv17juvgme52i520fj9pahf6g%40group.calendar.google.com&ctz=Australia/Sydney", :frameborder => 0, :scrolling => "no" }

#top_right.quarter
  %embed.clock{ :src => "http://www.clocklink.com/clocks/5005-blue.swf?TimeZone=AEDT&", :width => 520, :height => 130, :wmode => "transparent", :type => "application/x-shockwave-flash" }
  #mpd
    %div Currently playing:
    #current

.clear

#bottom_left.quarter
  %iframe{ :src => "http://ci.trike.com.au", :frameborder => 0, :scrolling => "no" }

#bottom_right.quarter
  %iframe#github{ :src => "https://github.com/tricycle/kando/graphs/punch_card", :frameborder => 0, :scrolling => "no" }
