!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    = haml :common, :layout => false
    = yield_content :head

  %body{:class => @body_class}
    #wrap
      = yield
