!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    = haml :common, :layout => false
    %script{ :src => "javascripts/nagios.js", :type => "text/javascript" }

  %body.nagios
    = haml :nagios_status, :layout => false
