- @projects.each do |project|
  %h2= project.name
  - if project.prev_iteration
    %a{ :href => time_report_link(project, *project.prev_iteration) } Previous
  - if project.curr_iteration
    %a{ :href => time_report_link(project, *project.curr_iteration) } Current
