#content
  %h1 Trike Dashboard Reports

  %p
    %b summary:
    - @ranges.each do |range|
      %a{ :href => report_link(range[:start], range[:finish]) }= range[:name]

  - @projects.each do |project|
    %p
      %b= "#{project.name}:"
      - @ranges.each do |range|
        %a{ :href => report_link(range[:start], range[:finish], project.id) }= range[:name]
