#content
  %h1 Trike Dashboard Reports

  %p
    %a{ :href => report_link(@start, @finish) } Last weeks summary

  - @projects.each do |project|
    %p
      %a{ :href => report_link(@start, @finish, project.id) }= project.name
