%table
  %thead
    %tr
      %th Task
      %th Total Hours
      - @time_report.users.each do |user|
        %th= user.name
      %th Pivotal Points
      %th Complete?
  %tbody
    - @time_report.tasks.each do |task|
      %tr
        %td= task[:name]
        %td= task[:lifetime_hours]
        - @time_report.users.each do |user|
          %td
            - if time = task[:time_by_user].assoc(user.id)
              = time.last.to_hours
        %td
        %td
