/* page layout
 **************************************************************** */
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  overflow: hidden;
}
#wrap {
  width: 960px;
  height: 540px;
}

/* content
 **************************************************************** */
#content {
  margin: 5px 0;
}
#content .column {
  float: left;
  height: 496px;
  margin: 0 5px;
  width: 310px !important;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 18pt;
  color: #475E96;
  text-shadow: #ccc 3px 3px;
}

.status {
  width: 275px;
  height: 105px;
  margin: 10px auto;

  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(108, 191, 255, 0.9)), to(#45CC00));
  background-image: -moz-linear-gradient(top, rgba(108, 191, 255, 0.9) 100%, #45CC00 0%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-box-shadow: rgba(66, 66, 66, 0.5) 4px 4px 4px;
  -moz-box-shadow: rgba(66, 66, 66, 0.5) 4px 4px 4px;
}
.status.building {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(108, 191, 255, 0.9)), to(#EEF200));
  background-image: -moz-linear-gradient(top, rgba(108, 191, 255, 0.9) 0%, rgba(#EEF200) 100%);
}
.status.failure {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(108, 191, 255, 0.9)), to(#C73500));
  background-image: -moz-linear-gradient(top, rgba(108, 191, 255, 0.9) 0%, rgba(#C73500) 100%);
}
.status .identifier {
  width: 65px;
  height: 27px;
  font-size: 14pt;
  font-weight: bold;
  margin: 0 20px;
  padding-top: 5px;
  text-align: center;
  text-shadow: #eee 1px 1px;
}
.status .info {
  font-size: 10pt;
  color: #fff;
  margin: 0 20px;
  padding: 5px;
  line-height: 18px;
}
.status .problems {
  font-weight: bold;
}

.clock {
  margin: 10px 40px;
}
.weather {
  width: 185px;
  height: 52px;
  margin: 10px auto;
}
.weather .image,
.weather .info {
  float: left;
}
.weather .image {
  width: 65px;
  margin: 0 5px;
}
.weather .info {
  width: 100px;
}
.weather .temp {
  font-size: 17pt;
  font-weight: bold;
  margin-bottom: 5px;
}
.weather .text {
  font-size: 10pt;
  overflow: hidden;
}

/* footer
 **************************************************************** */
#footer {
  clear: both;
  height: 24px;
  margin: 5px;
  border-top: 1px solid #000;
}
#mpd {
  font-size: 13pt;
  font-weight: bold;
  margin-left: 5px;
  overflow: hidden;
}

/* overlays
 **************************************************************** */
.overlay,
.overlay-message {
  display: none;
  position: absolute;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 9;
}
#ci-failure-overlay,
#nagios-failure-overlay {
  left: 5px;
  width: 315px;
  height: 501px;
  background-color: #b00;
}
#nagios-failure-overlay {
  left: 320px;
}
#standup-overlay {
  background-color: #ff0;
}
#monday-overlay {
  background-color: #fc0;
}
.overlay-message {
  left: 70px;
  width: 800px;
  z-index: 10;
  color: white;
  text-align: center;
  font-size: 30pt;
}
.overlay-message div {
  padding: 20px;
}
#ci-failure-message,
#nagios-failure-message {
  left: 10px;
  width: 300px;
  top: 60px;
}
#nagios-failure-message {
  left: 330px;
}
#ci-failure-message .project-name,
#nagios-failure-message .system-name {
  font-weight: bold;
}
#ci-failure-message .author {
  font-style: italic;
}
#standup-message,
#monday-message {
  top: 150px;
  color: #000;
}
