body {
  margin: 0;
  padding: 0;
  font-family: Georgia;
  overflow: hidden;
}
#wrap {
  width: 1920px;
  height: 1080px;
}
#top {
  height: 180px;
  margin: 10px;
  border-bottom: 2px solid #000;
}
#left {
  width: 500px;
}
#right {
  width: 1340px;
}
.column {
  float: left;
  height: 840px;
  margin: 20px;
}
.column .row {
  margin: 20px 0;
  height: 400px;
}
#mpd {
  font-size: 25pt;
  font-weight: bold;
  margin-left: 35px;
}
